---
layout: default
title: 10 steps to integrated and outcome-based security in DevOps
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: "https://learn.gitlab.com/next-gen-software-security/10-steps-ciso-secure-next-gen-software?lb_email="
form_id: "1002"
form_type: "resources"
cta_title: "Download the eBook"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the eBook."
success_message: "You will also receive an copy of the eBook sent to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline CISOs: Secure your next-generation software
        %h2.page-headline 10 steps to integrated and outcome-based security in DevOps

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p It often feels like developers and security speak different languages - and in some ways, they do. As developers grapple with evolving technologies, tools, and frameworks, it’s important that security professionals also understand the changes taking place in the development world.
            
            %p Software innovation requires security innovation, and as we think differently about software development, we must also think differently about security.

            %h3 What you’ll learn in this eBook:
            %ul
              %li Three shifts of next-gen software and how they impact security
              %li How to define your next-gen application security program
              %li How to execute on your newly defined security program

            %p Download the eBook to learn how to bring your security team and programs to the speed of software development.

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }